<?xml version="1.0"?>
<model>
  <!--
    El <name> debe coincidir con el nombre de la carpeta: "Tierra".
    Gazebo usará esto para resolver model://Tierra
  -->
  <name>Tierra</name>

  <version>1.0</version>

  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jorge Avila</name>
    <email>j.avilaorero@gmail.com</email>
  </author>

  <description>
    Modelo de terreno “Tierra” con malla Collada (.dae) y textura PNG.
  </description>
</model>

